.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 43%;
  margin-right: 13px;
}

.friend__avatar.g-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friends__column {
  display: flex;
  align-items: center;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__bottom-text {
  display: block;
  opacity: 0.6;
  font-size: 16px;
}

.friend__content .friend__status {
  display: block;
  opacity: 0.6;
  font-size: 13px;
}

.friend .chat__timestamp {
  font-size: 13px;
  opacity: 0.6;
}

.friend .friend__now-listening {
  border: 1.3px solid #00cd3c;
  font-size: 14px;
  opacity: 60%;
  padding: 7px 10px;
  border-radius: 15px;
}

.friends__column {
  align-items: center;
}

friend__now-listening span {
  opacity: 60%;
}

.friend .friend__now-listening i {
  color: #00cd3c;
  margin-left: 4px;
  font-size: 12px;
  padding-bottom: 0.5px;
}
