/* @import "normalize.css"; */
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";

/* 네비게이션 바 아이콘 설정할 때 space-between이 잘 안돼서 넣은 기능 */
/* 패딩을 집어넣게 되면 전체 '잘림'현상이 일어나게 된다 
예를 들어 박스의 크기가 300인데 20의 패딩이 들어가면 
contents의 크기는 원래 300 + 패딩 20 = 320으로 늘어나게 되고 
브라우져는 300까지밖에 보여주지 못해 contents의 20은 잘리게 된다. */

/* --> padding을 추가해도 box가 그만큼 커지지 않게 해줘 
--> width를 280만 갖게 해줘 물론 공간을 잃게되지만 상관 없어 */
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans";
}

/* 한번 클릭했을 때 색상 바뀌지 않는 기능 */
a {
  color: inherit;
}

.nav .nav__list-link {
  /* 포지션을 relative로 해주면서 
    자신의 자식 클래스의 위치 기준을 자신으로 만들 수 있다. */
  position: relative;
}

/* 네비게이션 바에 빨간색 알림 만드는 법 */
.nav .nav__badge {
  /* 부모 클래스인 list-link의 포지션이 relative여서 가능하다. */
  position: absolute;
  top: -9px;
  right: -5px;
  font-size: 12px;

  color: white;
  background-color: #dc5d46;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.5px;
}
